In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv('../data/AFKS_Williams_10years_H1.csv')
df

,DateTime,Open,High,Low,Close,Volume,Alligator_Jaw,Alligator_Teeth,Alligator_Lips,Fractal_Up,Fractal_Down,AO
0,2025.10.22 11:00,13.774,13.900,13.756,13.895,4160,13.41155,13.41458,13.52153,NaN,NaN,0.25339
1,2025.10.22 10:00,13.729,13.800,13.650,13.774,3616,13.41751,13.39674,13.46591,NaN,NaN,0.19966
2,2025.10.22 09:00,13.784,13.838,13.691,13.729,3233,13.42564,13.38084,13.42663,NaN,NaN,0.15696
3,2025.10.22 08:00,13.726,13.800,13.688,13.784,1885,13.43332,13.36697,13.39842,NaN,NaN,0.10472
4,2025.10.22 07:00,13.610,13.740,13.506,13.719,2184,13.43563,13.37082,13.37102,NaN,NaN,0.02670
...,...,...,...,...,...,...,...,...,...,...,...,...
29768,2015.10.26 14:00,17.880,17.880,17.800,17.820,29,17.84157,17.77395,17.74718,NaN,NaN,-0.00547
29769,2015.10.26 13:00,17.860,17.890,17.800,17.870,42,17.84545,17.78309,17.75273,NaN,NaN,-0.03235
29770,2015.10.26 12:00,17.790,17.900,17.730,17.870,43,17.84716,17.79210,17.75841,17.9,NaN,-0.06044
29771,2015.10.26 11:00,17.720,17.790,17.660,17.770,37,17.85233,17.79812,17.77051,NaN,NaN,-0.07815
29772,2015.10.26 10:00,17.740,17.760,17.700,17.720,39,17.85086,17.79856,17.78314,NaN,NaN,-0.07135

In [54]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29773 entries, 0 to 29772
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DateTime         29773 non-null  object
 1   Open             29773 non-null  float64
 2   High             29773 non-null  float64
 3   Low              29773 non-null  float64
 4   Close            29773 non-null  float64
 5   Volume           29773 non-null  int64
 6   Alligator_Jaw    29773 non-null  float64
 7   Alligator_Teeth  29773 non-null  float64
 8   Alligator_Lips   29773 non-null  float64
 9   Fractal_Up       4054 non-null   float64
 10  Fractal_Down     3942 non-null   float64
 11  AO               29773 non-null  float64
dtypes: float64(10), int64(1), object(1)
memory usage: 2.7+ MB

Смотрим данные на наличие пропусков

In [55]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print('{} - {}%'.format(col, round(pct_missing*100)))

DateTime - 0%
Open - 0%
High - 0%
Low - 0%
Close - 0%
Volume - 0%
Alligator_Jaw - 0%
Alligator_Teeth - 0%
Alligator_Lips - 0%
Fractal_Up - 86%
Fractal_Down - 87%
AO - 0%

в фракталах добавим бинарность, тк много пропусков

1 вход для фрактала лонг
-1 вход для фрактала шорт

0 отсутствие входа

In [56]:
df['Fractal_Down'] = df['Fractal_Down'].notna().astype(int)
df['Fractal_Up'] = df['Fractal_Up'].notna().astype(int)

for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print('{} - {}%'.format(col, round(pct_missing*100)))

DateTime - 0%
Open - 0%
High - 0%
Low - 0%
Close - 0%
Volume - 0%
Alligator_Jaw - 0%
Alligator_Teeth - 0%
Alligator_Lips - 0%
Fractal_Up - 0%
Fractal_Down - 0%
AO - 0%

In [57]:
df. describe( include='all'). T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
DateTime,29773,29773,2025.10.22 11:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open,29773.0,NaN,NaN,NaN,17.882412,6.620024,7.705,12.953,16.38,21.307,37.976
High,29773.0,NaN,NaN,NaN,17.95666,6.638694,7.71,13.017,16.441,21.4,37.976
Low,29773.0,NaN,NaN,NaN,17.804137,6.599397,7.6,12.88,16.306,21.21,37.803
Close,29773.0,NaN,NaN,NaN,17.881188,6.619611,7.65,12.951,16.377,21.309,37.976
Volume,29773.0,NaN,NaN,NaN,337.840863,1125.064209,1.0,50.0,59.0,60.0,33743.0
Alligator_Jaw,29773.0,NaN,NaN,NaN,17.883299,6.610265,7.80893,12.92567,16.39463,21.30213,37.3176
Alligator_Teeth,29773.0,NaN,NaN,NaN,17.882104,6.613721,7.78547,12.93195,16.38858,21.30225,37.55312
Alligator_Lips,29773.0,NaN,NaN,NaN,17.881371,6.615776,7.76284,12.93295,16.3813,21.29734,37.69889
Fractal_Up,29773.0,NaN,NaN,NaN,0.136164,0.342968,0.0,0.0,0.0,0.0,1.0
Fractal_Down,29773.0,NaN,NaN,NaN,0.132402,0.338933,0.0,0.0,0.0,0.0,1.0
AO,29773.0,NaN,NaN,NaN,-0.002115,0.361408,-5.46025,-0.14777,-0.00056,0.15035,2.86585

В классической стратегии нам нет смысла использовать объемы, поэтому убеерем их

In [58]:
df.drop(['Volume'], axis=1, inplace=True)
df

,DateTime,Open,High,Low,Close,Alligator_Jaw,Alligator_Teeth,Alligator_Lips,Fractal_Up,Fractal_Down,AO
0,2025.10.22 11:00,13.774,13.900,13.756,13.895,13.41155,13.41458,13.52153,0,0,0.25339
1,2025.10.22 10:00,13.729,13.800,13.650,13.774,13.41751,13.39674,13.46591,0,0,0.19966
2,2025.10.22 09:00,13.784,13.838,13.691,13.729,13.42564,13.38084,13.42663,0,0,0.15696
3,2025.10.22 08:00,13.726,13.800,13.688,13.784,13.43332,13.36697,13.39842,0,0,0.10472
4,2025.10.22 07:00,13.610,13.740,13.506,13.719,13.43563,13.37082,13.37102,0,0,0.02670
...,...,...,...,...,...,...,...,...,...,...,...
29768,2015.10.26 14:00,17.880,17.880,17.800,17.820,17.84157,17.77395,17.74718,0,0,-0.00547
29769,2015.10.26 13:00,17.860,17.890,17.800,17.870,17.84545,17.78309,17.75273,0,0,-0.03235
29770,2015.10.26 12:00,17.790,17.900,17.730,17.870,17.84716,17.79210,17.75841,1,0,-0.06044
29771,2015.10.26 11:00,17.720,17.790,17.660,17.770,17.85233,17.79812,17.77051,0,0,-0.07815
29772,2015.10.26 10:00,17.740,17.760,17.700,17.720,17.85086,17.79856,17.78314,0,0,-0.07135

Cделаем новый столбец "Color AO" - тоже сделаем бинарный:

- 1 зеленый - лонговый  

- -1 красный - шортовый

In [59]:
df['Color AO'] = df['AO'].diff().apply(lambda x: 1 if x > 0 else (-1 if x < 0 else 0))
df['Color AO'] = df['Color AO'].fillna(0).astype(int)

In [60]:
print(df[['AO', 'Color AO']].head(15))
print("\nРаспределение цветов баров:")
print(df['Color AO'].value_counts().sort_index())

         AO  Color AO
0   0.25339         0
1   0.19966        -1
2   0.15696        -1
3   0.10472        -1
4   0.02670        -1
5  -0.03668        -1
6  -0.08336        -1
7  -0.10948        -1
8  -0.13624        -1
9  -0.14777        -1
10 -0.15172        -1
11 -0.16272        -1
12 -0.20247        -1
13 -0.24691        -1
14 -0.27318        -1

Распределение цветов баров:
Color AO
-1    14710
 0        5
 1    15058
Name: count, dtype: int64

добавляем перемменную и признаки для Аллигатора

первый код = "что есть сигнал?"

In [61]:
# сортируем по дате на всякий случай
df = df.sort_values("DateTime").reset_index(drop=True)

Состояние Аллигатора

In [62]:
jaw, teeth, lips = df["Alligator_Jaw"], df["Alligator_Teeth"], df["Alligator_Lips"]

bullish = (lips > teeth) & (teeth > jaw) # бычий тренд
bearish = (jaw  > teeth) & (teeth > lips) # медвежий тренд

df["Alligator_Bullish"] = bullish.astype(int)
df["Alligator_Bearish"] = bearish.astype(int)

df["AlligatorStart_Long"]  = (bullish & ~bullish.shift(1, fill_value=False)).astype(int)
df["AlligatorStart_Short"] = (bearish & ~bearish.shift(1, fill_value=False)).astype(int)

Логика по АО

In [63]:
df["AO_sign"] = np.where(df["Color AO"] > 0, 1, -1)

df["AO_zero_up"]   = ((df["AO"] > 0) & (df["AO"].shift(1) <= 0)).astype(int)
df["AO_zero_down"] = ((df["AO"] < 0) & (df["AO"].shift(1) >= 0)).astype(int)

# три подряд бара одного цвета
df["AO_three_green"] = (
    (df["AO_sign"]==1) &
    (df["AO_sign"].shift(1)==1) &
    (df["AO_sign"].shift(2)==1)
).astype(int)

df["AO_three_red"] = (
    (df["AO_sign"]==-1) &
    (df["AO_sign"].shift(1)==-1) &
    (df["AO_sign"].shift(2)==-1)
).astype(int)

# блюдце по AO
df["AO_saucer_up"] = (
    (df["AO"] > 0) &
    (df["AO"].shift(2) > df["AO"].shift(1)) &
    (df["AO"] > df["AO"].shift(1))
).astype(int)

df["AO_saucer_down"] = (
    (df["AO"] < 0) &
    (df["AO"].shift(2) < df["AO"].shift(1)) &
    (df["AO"] < df["AO"].shift(1))
).astype(int)

Генерация сигналов входа

In [64]:
df["EntrySignal"] = 0
df["EntryReason"] = None

state = "flat"
last_alligator_side = 0

цикл по всем барам:

In [65]:
for i in range(len(df)):
    start_long  = bool(df.at[i, "AlligatorStart_Long"])
    start_short = bool(df.at[i, "AlligatorStart_Short"])

    # отслеживаем когда аллигатор открылся вверх/вниз
    if state in ("flat", "in_long", "in_short"):
        if start_long:
            state = "wait_long"; last_alligator_side = 1
        elif start_short:
            state = "wait_short"; last_alligator_side = -1

    # если появился новый «старт» аллигатора, переходим в режим ожидания сигнала AO (wait_long/wait_short)
    if state == "wait_long":
        if df.at[i, "AO_zero_up"]==1:
            df.at[i, "EntrySignal"] = 1; df.at[i, "EntryReason"] = "zero_cross"; state = "in_long"
        elif df.at[i, "AO_three_green"]==1:
            df.at[i, "EntrySignal"] = 1; df.at[i, "EntryReason"] = "three_color"; state = "in_long"
        elif df.at[i, "AO_saucer_up"]==1:
            df.at[i, "EntrySignal"] = 1; df.at[i, "EntryReason"] = "saucer"; state = "in_long"

    # В бычьем режиме ждём один из трёх паттернов AO 
    # Как только он случился – ставим EntrySignal = 1, записываем причину и считаем, что мы «в лонге»
    elif state == "wait_short":
        if df.at[i, "AO_zero_down"]==1:
            df.at[i, "EntrySignal"] = -1; df.at[i, "EntryReason"] = "zero_cross"; state = "in_short"
        elif df.at[i, "AO_three_red"]==1:
            df.at[i, "EntrySignal"] = -1; df.at[i, "EntryReason"] = "three_color"; state = "in_short"
        elif df.at[i, "AO_saucer_down"]==1:
            df.at[i, "EntrySignal"] = -1; df.at[i, "EntryReason"] = "saucer"; state = "in_short"

    # То же для шорта
    if state in ("in_long", "wait_long") and start_short:
        state = "wait_short"; last_alligator_side = -1
        # Если во время ожидания/позиции появился противоположный аллигатор 
        # – переключаемся на ожидание сигнала в новую сторону.
    if state in ("in_short", "wait_short") and start_long:
        state = "wait_long"; last_alligator_side = 1

Подтверждение фракталов

Фрактал у Вильямса подтверждается спустя 2 бара. Поэтому здесь берётся значение фрактала 2 бара назад и переносится вперёд – чтобы на текущем баре понимать, что фрактал уже подтверждён.

In [66]:
df["Fractal_Up_conf"]   = df["Fractal_Up"].shift(2).fillna(0).astype(int)
df["Fractal_Down_conf"] = df["Fractal_Down"].shift(2).fillna(0).astype(int)

Логика добавления к позиции (AddOn)

In [67]:
df["AddOn_Anchor_Level"] = np.nan
df["AddOn_Anchor_IsUp"]  = np.nan
df["AddOn_Size_Pct"]     = np.nan
waiting_anchor = False
pos_side = 0

# Колонки для «якоря» добавочных входов: 
# уровень цены, направление (1 – вверх, 0 – вниз), размер добавки (в процентах).
for i in range(len(df)):
    sig = int(df.at[i, "EntrySignal"])
    if sig != 0:
        pos_side = sig
        waiting_anchor = True
        continue
    # когда появился вход (EntrySignal ≠ 0) — запоминаем направление позиции и включаем режим waiting_anchor:
    #  ждём подходящего фрактала для постановки уровня добавки
    if waiting_anchor and pos_side == 1 and df.at[i, "Fractal_Up_conf"] == 1:
        df.at[i, "AddOn_Anchor_Level"] = df.at[i, "High"]
        df.at[i, "AddOn_Anchor_IsUp"]  = 1
        df.at[i, "AddOn_Size_Pct"]     = 0.30
        waiting_anchor = False
    # Если в лонге и появился подтверждённый верхний фрактал – его максимум становится AddOn_Anchor_Level,
    #  направление вверх, размер 30% от базовой позиции.
    if waiting_anchor and pos_side == -1 and df.at[i, "Fractal_Down_conf"] == 1:
        df.at[i, "AddOn_Anchor_Level"] = df.at[i, "Low"]
        df.at[i, "AddOn_Anchor_IsUp"]  = 0
        df.at[i, "AddOn_Size_Pct"]     = 0.30
        waiting_anchor = False

Аналогично для шорта (минимум фрактала).

In [68]:
df["AddOn_Anchor_Level"] = df["AddOn_Anchor_Level"].ffill()
df["AddOn_Anchor_IsUp"]  = df["AddOn_Anchor_IsUp"].ffill()
df["AddOn_Size_Pct"]     = df["AddOn_Size_Pct"].ffill()

In [69]:
df

,DateTime,Open,High,Low,Close,Alligator_Jaw,Alligator_Teeth,Alligator_Lips,Fractal_Up,Fractal_Down,...,AO_three_red,AO_saucer_up,AO_saucer_down,EntrySignal,EntryReason,Fractal_Up_conf,Fractal_Down_conf,AddOn_Anchor_Level,AddOn_Anchor_IsUp,AddOn_Size_Pct
0,2015.10.26 10:00,17.740,17.760,17.700,17.720,17.85086,17.79856,17.78314,0,0,...,0,0,0,0,None,0,0,NaN,NaN,NaN
1,2015.10.26 11:00,17.720,17.790,17.660,17.770,17.85233,17.79812,17.77051,0,0,...,0,0,0,0,None,0,0,NaN,NaN,NaN
2,2015.10.26 12:00,17.790,17.900,17.730,17.870,17.84716,17.79210,17.75841,1,0,...,0,0,0,0,None,0,0,NaN,NaN,NaN
3,2015.10.26 13:00,17.860,17.890,17.800,17.870,17.84545,17.78309,17.75273,0,0,...,1,0,0,-1,three_color,0,0,NaN,NaN,NaN
4,2015.10.26 14:00,17.880,17.880,17.800,17.820,17.84157,17.77395,17.74718,0,0,...,1,0,0,0,None,1,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29768,2025.10.22 07:00,13.610,13.740,13.506,13.719,13.43563,13.37082,13.37102,0,0,...,1,0,0,0,None,0,0,13.28,0.0,0.3
29769,2025.10.22 08:00,13.726,13.800,13.688,13.784,13.43332,13.36697,13.39842,0,0,...,1,0,0,0,None,0,0,13.28,0.0,0.3
29770,2025.10.22 09:00,13.784,13.838,13.691,13.729,13.42564,13.38084,13.42663,0,0,...,1,0,0,0,None,0,0,13.28,0.0,0.3
29771,2025.10.22 10:00,13.729,13.800,13.650,13.774,13.41751,13.39674,13.46591,0,0,...,1,0,0,0,None,0,0,13.28,0.0,0.3
29772,2025.10.22 11:00,13.774,13.900,13.756,13.895,13.41155,13.41458,13.52153,0,0,...,1,0,0,0,None,0,0,13.28,0.0,0.3

второй код = «из чего модель будет его угадывать?».

In [70]:
df = df.copy().sort_values("DateTime").reset_index(drop=True)

# 1) Подтверждённые фракталы (каузально)
df["Fractal_Up_conf"]   = df["Fractal_Up"].shift(2).fillna(0).astype(int)
df["Fractal_Down_conf"] = df["Fractal_Down"].shift(2).fillna(0).astype(int)

# 2) Якорь добора — первый фрактал в сторону позиции ПОСЛЕ входа
df["AddOn_Anchor_Level"] = np.nan
df["AddOn_Anchor_IsUp"]  = np.nan  # 1=верхний, 0=нижний
df["AddOn_Size_Pct"]     = np.nan
df["AddOn_Ready"]        = 0       # «якорь найден, добор ещё не выполнен»
df["AddOn_Triggered"]    = 0       # «добор исполнен по цене якоря»

in_pos = 0           # +1 long, -1 short, 0 flat
anchor_set = False   # найден ли якорь добора для текущей сделки
addon_done = False   # добор уже выполнен?

for i in range(len(df)):
    sig = int(df.at[i, "EntrySignal"]) if "EntrySignal" in df.columns else 0

    # вход открывает новую «сделку»
    if in_pos == 0 and sig != 0:
        in_pos = sig
        anchor_set = False
        addon_done = False
        continue  # на самом баре входа якорь ещё не может появиться (фракталы подтверждаются позже)

    # если в позиции и якорь ещё не выбран — ловим ПЕРВЫЙ подтверждённый фрактал в сторону сделки
    if in_pos == 1 and not anchor_set and df.at[i, "Fractal_Up_conf"] == 1:
        df.at[i, "AddOn_Anchor_Level"] = df.at[i, "High"]
        df.at[i, "AddOn_Anchor_IsUp"]  = 1
        df.at[i, "AddOn_Size_Pct"]     = 0.30
        df.at[i, "AddOn_Ready"]        = 1
        anchor_set = True
    elif in_pos == -1 and not anchor_set and df.at[i, "Fractal_Down_conf"] == 1:
        df.at[i, "AddOn_Anchor_Level"] = df.at[i, "Low"]
        df.at[i, "AddOn_Anchor_IsUp"]  = 0
        df.at[i, "AddOn_Size_Pct"]     = 0.30
        df.at[i, "AddOn_Ready"]        = 1
        anchor_set = True

    # если якорь выбран, проверим срабатывание (по High/Low)
    if anchor_set and not addon_done:
        anchor = df.at[i, "AddOn_Anchor_Level"]
        if in_pos == 1 and not pd.isna(anchor) and df.at[i, "High"] >= anchor:
            df.at[i, "AddOn_Triggered"] = 1
            addon_done = True
        elif in_pos == -1 and not pd.isna(anchor) and df.at[i, "Low"] <= anchor:
            df.at[i, "AddOn_Triggered"] = 1
            addon_done = True

    # выход по развороту аллигатора обнуляет состояние (если у тебя уже есть ExitSignal — можно использовать его)
    # Здесь считаем flip как смену устойчивого порядка:
    jaw, teeth, lips = df["Alligator_Jaw"], df["Alligator_Teeth"], df["Alligator_Lips"]
    bullish = (lips > teeth) & (teeth > jaw)
    bearish = (jaw  > teeth) & (teeth > lips)
    start_long  = bool(bullish.iloc[i] and not bullish.shift(1, fill_value=False).iloc[i])
    start_short = bool(bearish.iloc[i] and not bearish.shift(1, fill_value=False).iloc[i])

    if in_pos == 1 and start_short:
        in_pos = 0; anchor_set = False; addon_done = False
    elif in_pos == -1 and start_long:
        in_pos = 0; anchor_set = False; addon_done = False

# протащим постоянные значения якоря вперёд до конца сделки (удобно для исполнителя)
df["AddOn_Anchor_Level"] = df["AddOn_Anchor_Level"].ffill()
df["AddOn_Anchor_IsUp"]  = df["AddOn_Anchor_IsUp"].ffill()
df["AddOn_Size_Pct"]     = df["AddOn_Size_Pct"].ffill()

In [71]:
df

,DateTime,Open,High,Low,Close,Alligator_Jaw,Alligator_Teeth,Alligator_Lips,Fractal_Up,Fractal_Down,...,AO_saucer_down,EntrySignal,EntryReason,Fractal_Up_conf,Fractal_Down_conf,AddOn_Anchor_Level,AddOn_Anchor_IsUp,AddOn_Size_Pct,AddOn_Ready,AddOn_Triggered
0,2015.10.26 10:00,17.740,17.760,17.700,17.720,17.85086,17.79856,17.78314,0,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
1,2015.10.26 11:00,17.720,17.790,17.660,17.770,17.85233,17.79812,17.77051,0,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
2,2015.10.26 12:00,17.790,17.900,17.730,17.870,17.84716,17.79210,17.75841,1,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
3,2015.10.26 13:00,17.860,17.890,17.800,17.870,17.84545,17.78309,17.75273,0,0,...,0,-1,three_color,0,0,NaN,NaN,NaN,0,0
4,2015.10.26 14:00,17.880,17.880,17.800,17.820,17.84157,17.77395,17.74718,0,0,...,0,0,None,1,0,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29768,2025.10.22 07:00,13.610,13.740,13.506,13.719,13.43563,13.37082,13.37102,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29769,2025.10.22 08:00,13.726,13.800,13.688,13.784,13.43332,13.36697,13.39842,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29770,2025.10.22 09:00,13.784,13.838,13.691,13.729,13.42564,13.38084,13.42663,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29771,2025.10.22 10:00,13.729,13.800,13.650,13.774,13.41751,13.39674,13.46591,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29772,2025.10.22 11:00,13.774,13.900,13.756,13.895,13.41155,13.41458,13.52153,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0

Предобработка временных меток в DataFrame

In [72]:
df = df.copy().sort_values("DateTime").reset_index(drop=True)
df["DateTime"] = pd.to_datetime(df["DateTime"], errors="coerce")
df = df[df["DateTime"].notna()].reset_index(drop=True)

In [73]:
df

,DateTime,Open,High,Low,Close,Alligator_Jaw,Alligator_Teeth,Alligator_Lips,Fractal_Up,Fractal_Down,...,AO_saucer_down,EntrySignal,EntryReason,Fractal_Up_conf,Fractal_Down_conf,AddOn_Anchor_Level,AddOn_Anchor_IsUp,AddOn_Size_Pct,AddOn_Ready,AddOn_Triggered
0,2015-10-26 10:00:00,17.740,17.760,17.700,17.720,17.85086,17.79856,17.78314,0,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
1,2015-10-26 11:00:00,17.720,17.790,17.660,17.770,17.85233,17.79812,17.77051,0,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
2,2015-10-26 12:00:00,17.790,17.900,17.730,17.870,17.84716,17.79210,17.75841,1,0,...,0,0,None,0,0,NaN,NaN,NaN,0,0
3,2015-10-26 13:00:00,17.860,17.890,17.800,17.870,17.84545,17.78309,17.75273,0,0,...,0,-1,three_color,0,0,NaN,NaN,NaN,0,0
4,2015-10-26 14:00:00,17.880,17.880,17.800,17.820,17.84157,17.77395,17.74718,0,0,...,0,0,None,1,0,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29768,2025-10-22 07:00:00,13.610,13.740,13.506,13.719,13.43563,13.37082,13.37102,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29769,2025-10-22 08:00:00,13.726,13.800,13.688,13.784,13.43332,13.36697,13.39842,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29770,2025-10-22 09:00:00,13.784,13.838,13.691,13.729,13.42564,13.38084,13.42663,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29771,2025-10-22 10:00:00,13.729,13.800,13.650,13.774,13.41751,13.39674,13.46591,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0
29772,2025-10-22 11:00:00,13.774,13.900,13.756,13.895,13.41155,13.41458,13.52153,0,0,...,0,0,None,0,0,13.28,0.0,0.3,0,0

In [74]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print('{} - {}%'.format(col, round(pct_missing*100)))

DateTime - 0%
Open - 0%
High - 0%
Low - 0%
Close - 0%
Alligator_Jaw - 0%
Alligator_Teeth - 0%
Alligator_Lips - 0%
Fractal_Up - 0%
Fractal_Down - 0%
AO - 0%
Color AO - 0%
Alligator_Bullish - 0%
Alligator_Bearish - 0%
AlligatorStart_Long - 0%
AlligatorStart_Short - 0%
AO_sign - 0%
AO_zero_up - 0%
AO_zero_down - 0%
AO_three_green - 0%
AO_three_red - 0%
AO_saucer_up - 0%
AO_saucer_down - 0%
EntrySignal - 0%
EntryReason - 95%
Fractal_Up_conf - 0%
Fractal_Down_conf - 0%
AddOn_Anchor_Level - 0%
AddOn_Anchor_IsUp - 0%
AddOn_Size_Pct - 0%
AddOn_Ready - 0%
AddOn_Triggered - 0%

In [75]:
df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
DateTime,29773,NaN,NaN,NaN,2021-06-26 10:50:08.484196608,2015-10-26 10:00:00,2019-02-05 12:00:00,2021-09-23 10:00:00,2024-01-10 13:00:00,2025-10-22 11:00:00,NaN
Open,29773.0,NaN,NaN,NaN,17.882412,7.705,12.953,16.38,21.307,37.976,6.620024
High,29773.0,NaN,NaN,NaN,17.95666,7.71,13.017,16.441,21.4,37.976,6.638694
Low,29773.0,NaN,NaN,NaN,17.804137,7.6,12.88,16.306,21.21,37.803,6.599397
Close,29773.0,NaN,NaN,NaN,17.881188,7.65,12.951,16.377,21.309,37.976,6.619611
Alligator_Jaw,29773.0,NaN,NaN,NaN,17.883299,7.80893,12.92567,16.39463,21.30213,37.3176,6.610265
Alligator_Teeth,29773.0,NaN,NaN,NaN,17.882104,7.78547,12.93195,16.38858,21.30225,37.55312,6.613721
Alligator_Lips,29773.0,NaN,NaN,NaN,17.881371,7.76284,12.93295,16.3813,21.29734,37.69889,6.615776
Fractal_Up,29773.0,NaN,NaN,NaN,0.136164,0.0,0.0,0.0,0.0,1.0,0.342968
Fractal_Down,29773.0,NaN,NaN,NaN,0.132402,0.0,0.0,0.0,0.0,1.0,0.338933
AO,29773.0,NaN,NaN,NaN,-0.002115,-5.46025,-0.14777,-0.00056,0.15035,2.86585,0.361408
Color AO,29773.0,NaN,NaN,NaN,0.011688,-1.0,-1.0,1.0,1.0,1.0,0.999865
Alligator_Bullish,29773.0,NaN,NaN,NaN,0.404057,0.0,0.0,0.0,1.0,1.0,0.490717
Alligator_Bearish,29773.0,NaN,NaN,NaN,0.407517,0.0,0.0,0.0,1.0,1.0,0.491381
AlligatorStart_Long,29773.0,NaN,NaN,NaN,0.027542,0.0,0.0,0.0,0.0,1.0,0.163658
AlligatorStart_Short,29773.0,NaN,NaN,NaN,0.024989,0.0,0.0,0.0,0.0,1.0,0.156094
AO_sign,29773.0,NaN,NaN,NaN,0.011521,-1.0,-1.0,1.0,1.0,1.0,0.99995
AO_zero_up,29773.0,NaN,NaN,NaN,0.020556,0.0,0.0,0.0,0.0,1.0,0.141893
AO_zero_down,29773.0,NaN,NaN,NaN,0.020522,0.0,0.0,0.0,0.0,1.0,0.14178
AO_three_green,29773.0,NaN,NaN,NaN,0.339603,0.0,0.0,0.0,1.0,1.0,0.473582
AO_three_red,29773.0,NaN,NaN,NaN,0.330232,0.0,0.0,0.0,1.0,1.0,0.470304
AO_saucer_up,29773.0,NaN,NaN,NaN,0.036476,0.0,0.0,0.0,0.0,1.0,0.187474
AO_saucer_down,29773.0,NaN,NaN,NaN,0.038189,0.0,0.0,0.0,0.0,1.0,0.191655
EntrySignal,29773.0,NaN,NaN,NaN,0.002553,-1.0,0.0,0.0,0.0,1.0,0.224746
EntryReason,1504,3,three_color,1067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fractal_Up_conf,29773.0,NaN,NaN,NaN,0.136164,0.0,0.0,0.0,0.0,1.0,0.342968
Fractal_Down_conf,29773.0,NaN,NaN,NaN,0.132402,0.0,0.0,0.0,0.0,1.0,0.338933
AddOn_Anchor_Level,29764.0,NaN,NaN,NaN,17.898283,7.795,12.962,16.411,21.31,36.597,6.60269
AddOn_Anchor_IsUp,29764.0,NaN,NaN,NaN,0.511625,0.0,0.0,1.0,1.0,1.0,0.499873
AddOn_Size_Pct,29764.0,NaN,NaN,NaN,0.3,0.3,0.3,0.3,0.3,0.3,0.0
AddOn_Ready,29773.0,NaN,NaN,NaN,0.022974,0.0,0.0,0.0,0.0,1.0,0.149823
AddOn_Triggered,29773.0,NaN,NaN,NaN,0.022974,0.0,0.0,0.0,0.0,1.0,0.149823

In [76]:
df.to_csv("../clean_df/AFKS.csv", index=False)